.maze-container {
    textarea {
        resize: vertical
    }
    .alert {
        text-align: center;
    }

    .content {
        margin-top: 50px;
        margin-right: 0px !important;
    }

    .red {
        color: red;
    }
}